#back-top {
    position: fixed;
    height: 50px;
    right: 23px;
    bottom: 23px;
    cursor: url(../cursor/aero_link.cur), pointer;
}

#back-top a {
    display: block;
    text-align: center;
    font: 12px Arial, Verdana, Tahoma, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
    cursor: url(../cursor/aero_link.cur), pointer;
}

#back-top a:hover {
    color: #000;
    cursor: url(../cursor/aero_link.cur), pointer;
}

#back-top span {
    display: none;
    width: 47px;
    height: 47px;
    display: block;
    margin-bottom: 7px;
    background: url(vverx.png) no-repeat center center
}

.sidebox {
    margin: 0 0 20px;
    padding: 0;
    background: #2d2d2d;
    -moz-box-shadow: 0 0 3px #111;
    -webkit-box-shadow: 0 0 3px #111;
    box-shadow: 0 0 3px #111;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}